
.dashboard-vue {
    display: flex;
    flex-direction: column;
    height: calc(100% - 158px);
}

/* scroll type */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px royalblue;
    opacity: 50%;
}
::-webkit-scrollbar-thumb {
  background: royalblue;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000000;
  width: var(--container_width);
  overflow: hidden;
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 300;
  font-size: 14px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 2);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.clustertype {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 300;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  background-color: rgb(11 117 223);
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0/2));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1/2));
}

br { display: block; line-height: 1.6em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }


/** page structure **/
#dashboard {
  display: block;
  width: 400px;
  background: #191919;
  margin: auto;
}

#dashboarduse {
  display: block;
  width: 800px;
  background: #191919;
  margin: 158px auto 20px auto;
}


#dashboardover {
  width: 500px;
  background: #191919;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 400px;
}

#dashboardover2 {
  width: 500px;
  background: #191919;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 400px;
}

#autoevo {
  display: block;
  width: 800px;
  background: #191919;
  margin: 158px auto 20px auto;
}

#keywords {
  margin: 0 auto 15px auto;
  font-size: 10px;
}

#keywordscopy {
  font-size: 15px;
}

#keywordscopy2 {
  font-size: 15px;
}

#keywords2 {
  width: 100%;
  display: flex;
  margin: 0 auto 15px auto;
  font-size: 10px;
}

#keywords3 {
  width: 100%;
  margin: 0 auto 15px auto;
  font-size: 10px;
}

#keywords4 {
  width: 100%;
  display: flex;
  margin: 0 auto 15px auto;
  font-size: 10px;
}

#keywords5 {
  width: 100%;
  margin: 0 auto 15px auto;
  font-size: 10px;
}

.degree-line {
  display: flex;
  justify-content: space-between;
}

#keywords thead {
  cursor: pointer;
  background: #c9dff0;
  text-align: left;
}
#keywords thead tr th {
  font-weight: bold;
  padding: 12px 30px 12px 42px;
}
#keywords thead tr th span {
  padding-right: 20px;
  font-weight: 600;
  font-size: 13px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
#keywordscopy thead {
  cursor: pointer;
  background: #c9dff0;
  text-align: left;
}
#keywordscopy thead tr th {
  font-weight: bold;
  padding: 12px 30px 12px 42px;
}
#keywordscopy thead tr th span {
  padding-right: 20px;
  font-weight: 600;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
#keywordscopy2 thead {
  cursor: pointer;
  background: #c9dff0;
  text-align: left;
}
#keywordscopy2 thead tr th {
  font-weight: bold;
  padding: 12px 30px 12px 42px;
}
#keywordscopy2 thead tr th span {
  padding-right: 20px;
  font-weight: 600;
  font-size: 15px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords2 thead {
  cursor: pointer;
  background: #c9dff0;
  text-align: center;
  width: 100%;
}
#keywords2 thead tr th {
  font-weight: bold;
  padding: 12px 30px 12px 42px;
}
#keywords2 thead tr th span {
  padding-right: 20px;
  font-weight: 600;
  font-size: 13px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords4 thead {
  cursor: pointer;
  background: #c9dff0;
  text-align: center;
  width: 100%;
}
#keywords4 thead tr th {
  font-weight: bold;
  padding: 12px 30px 12px 42px;
}
#keywords4 thead tr th span {
  padding-right: 20px;
  font-weight: 600;
  font-size: 13px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords tbody tr {
  color: #ffffff;
}
#keywords tbody tr td {
  text-align: left;
  padding: 12px 30px 12px 42px;
}
#keywordscopy tbody tr {
  color: #ffffff;
}
#keywordscopy tbody tr td {
  text-align: left;
  padding: 12px 30px 12px 42px;
}
#keywordscopy2 tbody tr {
  color: #ffffff;
}
#keywordscopy2 tbody tr td {
  text-align: left;
  padding: 12px 30px 12px 42px;
}

#degree-before, #dist-before{
  width: 100%;
  display: flex;
  justify-content: center;
}